* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8ff;
}

/* font-family style */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* text-center */
.text-center {
    text-align: center;
}

/* button style */
.btn {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #4E47FF;
    border: 2px solid #4E47FF;
}

.hero {
    background-image: url('../Assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* nav section style */
nav {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
}

nav h1 {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
    cursor: pointer;
}

/* banner section style */
.banner {
    /* margin-top: 150px; */
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 20px;
}

.banner h2 {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: bold;
}

.banner h2:hover {
    font-size: 65px;
}

/* preview section style */
.preview {
    width: 100%;
    max-width: 1140px;
    margin: 50px auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.preview-text {
    margin: 60px 0;
    padding: 20px auto;
}

.preview-text h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.preview-text p {
    font-size: 24px;
    line-height: 30px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 20px;
}

.preview-img {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}

.preview-img img {
    border-radius: 48px;
}

/* rate section style */
.rate {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
    width: 100%;
    max-width: 1140px;
    margin: 50px auto;
    padding: 40px 20px;
}

.rate h3 {
    font-size: 38px;
    font-weight: bold;
}

.rate-box {
    padding: 30px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rate-box .box h1 {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}

.rate-box .box p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* review section style */
.review {
    width: 100%;
    max-width: 1140px;
    margin: 60px auto;
}

.review h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}

.review-boxes {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.review-box {
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.box-img img {
    padding: 4px;
    float: left;
}

.box-description {
    padding: 24px;
    padding-left: 0;
    text-align: left;
}

.box-description h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.box-description p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(138, 137, 137);
}

.review-description {
    display: flex;
    align-items: center;
}

.review-description img {
    border-radius: 50%;
}

.review-description h4 {
    padding: 10px;
    text-align: left;
    color: rgba(117, 117, 117, 1);
}

.review-description p {
    padding: 0 10px;
    text-align: left;
    color: rgba(179, 179, 179, 1);
}

/* focus section style */
.focus {
    width: 100%;
    max-width: 1140px;
    margin: 50px auto;
    padding: 50px 150px;
    border-radius: 12px;
    margin-bottom: 60px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.focus h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    padding-bottom: 20px;
}

.focus p {
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.focus img {
    margin-top: 20px;
    border-radius: 50px;
}

/* contact section style */
.contact {
    padding: 80px 20px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-title {
    width: 40%;
    display: table;
}

.contact-title h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 90px;
    font-weight: bold;
    line-height: 120%;
    height: 100%;
    margin: 0;
}

.contact-box {
    width: 60%;
    max-width: 600px;
    margin: 70px 100px;
    padding: 40px 30px;
    border-radius: 12px;
}

/* form part style */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: 500;
    line-height: 120%;
    font-size: 18px;
}

input,
textarea {
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
}

/* footer section style */
.footer-section {
    padding: 40px 20px;
    background-color: #FFFFFF;
}
.text-contant{
    padding: 0 400px;
}
.text-contant h1 {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    padding-bottom: 8px;
}

.text-contant p{
    color: #8987A1;
}

/* footer-navbar style */
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer-nav a{
    text-decoration: none;
    color: #8987A1;
}